html,body{
    margin: 0;
    padding: 0;
}
body{
    background: antiquewhite;
}
/*todo: 图片设为正方形,搞不定啊QAQ*/
.JigSaw{
    width: 400px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ffffff;
    position: relative;
    margin: 40px;
}
.JigSaw img{
    position: absolute;
}
.skin_1 .pic1{
    height: 100%;
    width: 100%;
}

.skin_2 .pic1{
    width: 66.7%;
    height: 100%;
    left:0;
    -webkit-clip-path: polygon(0% 0%,100% 0,50% 100%, 0 100%)
}
.skin_2 .pic2{
    width: 66.7%;
    height: 100%;
    right: 0;
    -webkit-clip-path: polygon(50% 0,100% 0,100% 100%, 0 100%)
}

.skin_3 .pic1{
    height: 100%;
    width: 66.6%;
    left:0;
}
.skin_3 .pic2{
    height: 50%;
    width: 33.3%;
    right: 0;
    top:0;
}
.skin_3 .pic3{
    width: 33.3%;
    height: 50%;
    right: 0;
    bottom: 0;
}

.skin_4 img{
    width: 50%;
    height: 50%;
}
.skin_4 .pic1{
    left: 0;
    top: 0;
}
.skin_4 .pic2{
    right: 0;
    top: 0;
}
.skin_4 .pic3{
    left: 0;
    bottom: 0;
}
.skin_4 .pic4{
    right: 0;
    bottom: 0;
}

.skin_5 .pic1{
    height: 66.6%;
    width: 66.6%;
    left: 0;
    top: 0;
}
.skin_5 .pic2{
    height: 33.3%;
    width: 33.3%;
    right: 0;
    top: 0;
}
.skin_5 .pic3{
    height: 66.6%;
    width: 33.3%;
    right: 0;
    bottom: 0;
}
.skin_5 .pic4{
    width: 33.3%;
    height: 33.3%;
    left: 0;
    bottom: 0;
}
.skin_5 .pic5{
    width: 33.3%;
    height: 33.3%;
    left: 33.3%;
    bottom: 0;
}
.skin_6 .pic1{
    width: 66.6%;
    height: 66.6%;
    left: 0;
    top:0;
}

.skin_6 > img:nth-child(n+2){
    width: 33.3%;
    height: 33.3%;
}
.skin_6 .pic2{
    right: 0;
    top: 0;
}
.skin_6 .pic3{
    top: 33.3%;
    right: 0;
}
.skin_6 .pic4{
    left: 0;
    bottom: 0;
}
.skin_6 .pic5{
    left: 33.3%;
    bottom: 0;
}
.skin_6 .pic6{
    left: 66.6%;
    bottom: 0;
}